{% extends "layout.html" %} {% block body %}
<table class="event-list table table-striped table-header">
  <thead>
      <th>User</th>
      <th>IP</th>
      <th>Time</th>
      <th>Date</th>
      <th>Type</th>
      <th>Page</th>
  </thead>
  <tbody>
    {% for login in logins %}
    <tr>
      <td><a href="/user/{{get_name(login.user_id)}}" style="{{get_group_style_from_id(login.user_id)}}">{{get_name(login.user_id)}}</a></td>
      <td>{{login.ip}}</td>
      <td>{{time_ago(login.time)}}</td>
      <td>{{human_date(login.time)}}</td>
      {% if login.login == 0 %}
      <td>Failed login attempt</td>
      {% elif login.login == 1 %}
      <td>Logged in</td>
      {% elif login.login == 2 %}
      <td>Successful login</td>
      {% endif %}
      <td>{{login.page}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
