{% extends "layout.html" %} {% block body %}
<div class="rankform inner-container">
  <form id="rankform" class="form-horizontal" action="/functions/admin_change_rank/" method="POST">
    <div class="form-group">
      <label class="control-label col-xs-2">User ID</label>
      <div class="col-xs-10">
        <input id="channel-name" type="text" name="user_id" class="form-control" value="{{rankuser}}">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-2">Rank</label>
      <div class="col-xs-10">
        <select name="rank" class="form-control">
          <option value="1">Tourist</option>
          <option value="10">Citizen</option>
          <option value="20">Citizen (Staff)</option>
          <option value="50">{{ get_core_config()['site']['donator_group_name'] }}</option>
          <option value="100">Peacekeeper</option>
          <option value="500">Federation Council</option>
          <option value="900">Special Operations</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-primary">Change Rank</button>
      </div>
    </div>
    <input type="hidden" name="uniqid" value="{{user_session.sessionid}}">
  </form>
</div>
{% endblock %}
