
  {% extends "layout.html" %}
  {% block body %}
  <div class="preferences">
      <form class="form-horizontal" id="pwform" action="/functions/change_password" method="POST">
          <div class="form-group">
              <label class="control-label col-xs-2">Old Password</label>
              <div class="col-xs-10">
                  <input type="password" id="oldPassword" class="form-control" placeholder="Old Password" required="true">
              </div>
          </div>
          <div class="form-group" id="password">
              <label for="inputPassword" class="control-label col-xs-2">New Password</label>
              <div class="col-xs-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" required="true">
              </div>
          </div>
          <div class="form-group" id="confPassword">
              <label for="confirmPassword" class="control-label col-xs-2">Confirm Password</label>
              <div class="col-xs-10">
                  <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required="true">
                  <br/>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger" id="stronk" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span id="score"></span>
                    </div>
                  </div>
                  <b>For extra security, a unique and strong password is highly recommended.</b><br/>
                  <u>Never use the same password as you use everywhere else.</u>
              </div>
          </div>
          <div class="form-group">
              <div class="col-xs-offset-2 col-xs-10">
                  <button type="submit" id="submission" class="btn btn-primary">Submit</button>
              </div>
          </div>
          <input type="hidden" name="oldpassword" id="oldpword">
          <input type="hidden" name="newpassword" id="newpword">
          <input type="hidden" name="uniqid" value="{{user_session.sessionid}}">
      </form>
    </div>
  {% endblock %}
