{% extends "layout.html" %} {% block body %}
These rules make it very clear what is acceptable or not. Be sure you have the appropriate channel before chatting. If there is no channel dedicated to the topic you wish to discuss, use #lobby. Do NOT post
porn or any "questionable" material in #lobby; if you would be uncomfortable viewing it at work, do not post it there. <b>Keep all weird shit in #gaybar.</b> More channels may be added per popular request.
<br/><br/> The staff are here to keep the chat safe, sane, and secure. If they ask you to do something, please do it. Please do not harass or intentionally annoy the staff.<br/>
<b>If you do not like the staff or how we run things, don't be here. Stupidity is not an excuse.</b>

<br/><br/>

<h2>1. General Trolling and Ban Evasions</h2>

<p>Being involved in trolling (trolling being whatever the staff deems unacceptable or annoying) is hereby against the rules, and will result in a minimum 2 hour ban. Ban evasions warrant a minimum 2hr ban the first time, and double every time after that,
  with accordance to the function t(n) = 2^n, n is the number of times the evasion occurred, and t is in hours. This formula may be used or not used at the discretion of the staff.</p>

<p>Ban evasions are sufficient cause for being removed from the network. Ban evading network bans leads to further bans. With exception for staff.</p>

<p>Server administrators reserve the right to remove users from the server if they deem a user's actions to be provocative. In the case that it is not deemed deliberate, a warning may be given first, at the staffs discretion.</p>

<h2>2. General Harassment</h2>
<p>Cyber-stalking, sexual harassment and any other form of harassment are considered trolling, and are not tolerated. If a user is being stalked or harassed, report it to the staff immediately. This includes observational stalking.</p>

<h2>3. Advertising</h2>
<p>If you're advertising something of yours (websites, videos, servers, etc) shortly after joining, you're probably going to get banned. We don't want advertising gimmicks here, so if we think you're mainly here to get views for your shit then we won't
  keep you around. Even if you're not new, advertising may still get you banned, so check with an admin or a mod first.</p>

<h2>4. Lewd Content</h2>
<p>Posting lewd content is fine, <b>as long</b> as it's legal, not excessive and it's in the #gaybar.<br/> Soliciting sex or erp (erotic role-play) is a bannable offense.</p>

<h2>5. Image Macros</h2>
<p>Image macros are stupid. Don't post image macros from image macro sites.<br> This also applies to using short video clips as reaction replies. With the execption for original content or posting them in #gaybar.</p>

<h2>6. Internet Memes</h2>
<p>This isn't reddit/9gag/4chan/etc. Refrain from posting them in anywhere other than #gaybar.</p>

<h2>7. Malicious Content</h2>
<p>If you post malicious content without a disclaimer (anything with spyware, viruses, malware or code designed to annoy people), you will be banned.</p>

<h2>8. Preaching</h2>
<p>Preaching is seen as annoying and will get you banned.</p>

<h2>9. Religion and Politics</h2>

<p>Though legitimate debate and discussion of religious, spiritual, and political subjects are encouraged, Users who intentionally provoke other users by Preaching (attempting to convert users and give sermons), Campaigning (forcibly attempting to win votes
  for a party or demean others of differing political stances), or any attempted spreading of excessively provocative/controversial beliefs and/or materials is not permitted, and is considered as trolling.</p>

<h2>10. Spamming</h2>

<p>Spamming of ANY KIND is not permitted and is considered an abuse of resources. It should not be necessary to define what this is, but ultimately if a staff member requests you stop spamming, you should do so. Staff members reserve the right to remove
  users from the network at their discretion if they deem communications to be spam, or repeated communications to collectively be spamming.</p>

<h2>11. Gaybar</h2>
<p>#gaybar is there for posting the kind of shit nobody wants to see, this being image macros, memes, generally weird shit, anything nsfw, etc.</p>
<ul>
  <li>No illegal material.</li>
  <li>No harassing others by posting their personal information or photos.</li>
  <li>No spamming.</li>
  <li>No harassing admins or mods.</li>
  <li>No raids.</li>
</ul>

<h3>Potential Reasons:</h3>
<ul>
  <li>Harassment of staff, in any form, perceived, explicit, or implicit.</li>
  <li>Perceived threats to the network, including but not limited to threats of DDoS, threats to divide the staff, or threats against the servers.</li>
  <li>Questioning of the staff.</li>
  <li>Any other reason formed in the English Language.</li>
</ul>
<br/>

<center style="font-size: 12pt; font-weight: bold;">Please do not try to cleverly circumvent any rule listed here. These rules are general guidelines and are very flexible.</center>
<br/>

<b>All communication made in relation to the D2K5 Network, on the D2K5 Network, or through any other communication medium is subject to these terms. Communication medium is hereby defined, but not limited to, telephone, phone, VoIP, Discord, Skype, Instant Messaging, AIM, eMail, Mailing Lists, ListServ, IRC, snailmail, IRL (in real life), via Ouija board, and anything else not enumerated here by which communication between two or more entities is possible.</p>
<br/>
<center style="font-size: 15pt;">D2K5 and its associates reserve the right to permanently ban any user from the network at any time for any reason, or no reason at all.</center></b><br/>
{% endblock %}
