{% extends "layout.html" %} {% block body %}
<div class="inner-container">
	<h3>The following is considered unacceptable:</h3>
	<ul>
		<li>Threats / Attacks / Terrorism</li>
		<li>Posting or soliciting illegal pornography.</li>
		<li>Flooding channels or users.</li>
		<li>Posting private information.</li>
		<li>Malicious attacks (hacking, ddos, etc) towards the network or its users.</li>
		<li>Advertising.</li>
		<li>Spam.</li>
	</ul>
	
	<p>Not safe for work content should be tagged as NSFW.</p>

	<p>Respect other users and take it to private messages if necessary.<p>
</div>
{% endblock %}
