{% extends "layout.html" %} {% block body %}
<div class="row" style="max-width: 100%; margin: 0 auto;">
  <div class="col-md-6">
    <h3>Getting Started</h3>
    <div style="margin-left: 14px;">
      {% if not user_session.sessionid %}<a href="/request-invite/" style="color: #fff; text-decoration: none;" class="btn btn-info">Request an invite</a> {% endif %}
      <a href="/im/d2k5" style="color: #fff; text-decoration: none;" class="btn btn-info">Join the Chat</a>
      <a href="/quotes/" style="color: #fff; text-decoration: none;" class="btn btn-info">Quote Database</a>
      <br/><br/>
      <b>Username:</b> &lt;your username&gt;<br/>
      <b>Password:</b> &lt;<a href="/account/preferences" style="border-bottom: 1px dashed #555;">chat password</a>&gt;<br/>
      <br/>
      <b>Home Server:</b> https://hardcats.net<br/>
      <b>Identity Server:</b> https://hardcats.net<br/>
      <br/>
      <b>Clients:</b>
      <ul>
        <li><a href="https://im.d2k5.com/client/">Desktop Clients</a> (cross-platform)</li>
        <li><a href="/im/">Browser Client</a></li>
        <li><a href="https://matrix.org/docs/projects/client/riot-android.html">Android Client<a></li>
        <li><a href="https://matrix.org/docs/projects/client/riot-ios.html">iOS Client<a></li>
        <li><a href="https://github.com/torhve/weechat-matrix-protocol-script">Weechat Plugin</a> (<a href="https://github.com/torhve/weechat-matrix-protocol-script/issues/54#issuecomment-267768981" style="border-bottom: 1px dotted red; font-weight: bold; color: #ff0000 !important;">encryption support is broken for now</a>)</li>
        <li><a href="https://matrix.org/docs/projects/try-matrix-now.html#clients">Other Clients</a></li>
      </ul>
      <br/>
      <strong>Our chat system runs on the <a href="https://matrix.org/#about" target="_blank" style="border-bottom: 1px dashed #555;">Matrix Protocol</a>:</strong>
      <ul>
        <li>Matrix provides state of the art end-to-end encryption in beta using the Olm and Megolm cryptographic ratchets, and ensuring that only explicitly authorized devices can participate in a conversation. Based on the Double Ratchet Algorithm popularised by Signal.</li>
        <li>Supports group chats with hundreds of devices via the new Megolm shared ratchet, with either perfect forward secrecy or the ability to decrypt conversation history on new devices.</li>
        <li>Create and manage fully distributed conversations with no single points of control or failure.</li>
        <li>Real-time synchronised history and state across all clients.</li>
        <li>WebRTC VoIP/Video calling using Matrix signalling.</li>
        <li><b>In the future, all channels and conversations will have encryption enabled by default.</b></li>
      </ul>
      <div style="margin-left: 16px;">
        <a href="https://matrix.org/docs/guides/faq.html#general" target="_blank" style="border-bottom: 1px dotted #555;">More Info</a>
      </div>
      <br/>
      <strong>Why Matrix:</strong>
      <ul>
        <li>All messages are encrypted using end-to-end encryption.</li>
        <li>Chat history is inaccessible to users without the decryption key and is cleared regularly.</li>
        <li>Users can create and moderate their own channels.</li>
        <li>Get information about events and site activity.</li>
        <li>Full integration with D2K5</li>
      </ul>
      <br/>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Internet Relay Chat (matrix relay)</h3>
    <b>Server Addresses:</b> irc.d2k5.com<br/>
    <b>Server Port:</b> 6697 (SSL only)<br/>
    <br/>
    <strong>You must authenticate with your username and chat password to be able to join the IRC.</strong>
    <br/><br/>
    <b>IRC Clients:</b>
    <ul>
      <li><a href="https://hexchat.github.io/">HexChat</a> (desktop client)</li>
      <li><a href="https://pidgin.im/">Pidgin</a> (desktop client)</li>
      <li><a href="https://adium.im/">Adium</a> (desktop client)</li>
      <li><a href="https://weechat.org/">WeeChat</a> (command line client)</li>
      <li><a href="https://irssi.org/">Irssi</a> (command line client)</li>
    </ul>
    <h3>XMPP</h3>
    <div style="margin-left: 14px;">
      Access to the XMPP network will be granted per request.<br/>This network is intended to be used with <a href="https://en.wikipedia.org/wiki/OMEMO">OMEMO</a> or <a href="https://en.wikipedia.org/wiki/Off-the-Record_Messaging">OTR</a>.<br/><br/>
      <b>Server Addresses:</b> im.d2k5.com<br/>
      <b>Server Port:</b> 5222 (SSL only)<br/>
      <br/>
      <b>XMPP Clients:</b>
      <ul>
        <li><a href="https://pidgin.im/">Pidgin</a> (windows/linux desktop client)</li>
        <li><a href="https://adium.im/">Adium</a> (mac desktop client)</li>
        <li><a href="https://f-droid.org/repository/browse%20/?fdid=eu.siacs.conversations">Conversations</a> (android mobile client)</li>
        <li><a href="https://chatsecure.org/">ChatSecure</a> (ios mobile client)</li>
      </ul>
    </div>
    <h3>Network Information</h3>
    <div style="margin-left: 14px;">
      <span class="readnotice">READ THIS: <a href="/terms/" class="blink" style="border-bottom: 1px dotted red; font-weight: bold; color: #ff0000 !important;">Terms of Service</a></span><br/> For large
      amounts of content, use the <a href="/pastebin/" style="border-bottom: 1px dotted #000;">pastebin</a>.
    </div>
    <br/>
  </div>
</div>
{% endblock %}
