{% extends "layout.html" %} {% block body %}
    <div class="thread-title">Custom Channels (<a href="/request-channel/" class="link-dotted">request a channel</a>)</div>
    <div class="row" style="max-width: 100%; margin: 0 auto;">
      <div class="col-md-6">
      <h3>Channels</h3>
      <div style="margin-left: 14px;">
              {% for forum in custom_forums %}
              <div class="panel panel-default category-list">
                <div class="panel-body" style="padding: 8px;">
                  <div class="media">
                    <div class="thread-left">
                      <div style="background-image: url({{get_forum_icon(forum.id)}})" title="{{ forum.name }}" class="img-circle pull-left forum-image"></div>
                      <div style="clear:both"></div>
                    </div>
                    <div class="media-body">
                      <a href="/forums/?category={{ forum.id }}" class="forum-title"><b>{{ forum.name }}</b></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>';

    $page_content .= '
    <div class="col-md-6" style="float:right">
      <h3>Recent Activity</h3>
        <div style="margin-left: 14px;">';
        $sql = "SELECT * FROM d2_activity AS post WHERE category NOT IN (0,1,2,3,4,5,6,7) AND title != '' ORDER BY (SELECT count(*) as total FROM d2_activity WHERE replyto = post.id AND time > UNIX_TIMESTAMP(DATE_SUB(NOW(), INTERVAL 7 DAY))) DESC LIMIT 5";
           $post_result = $mysqli->query($sql);
           if ($post_result->num_rows === 0) {
             $posts_exist = 0;
           }else{
             $posts_exist = 1;
             if (!$post_result = $mysqli->query($sql)) {
                 echo $errormsg;
                 exit;
             }
           }

         while($posts = $post_result->fetch_assoc()){
             if($posts['replyto'] == 0){

               $sql = "SELECT * FROM d2_user WHERE user_id = ".$posts['user_id'];
               if (!$poster_result = $mysqli->query($sql)) {
                   echo $errormsg;
                   exit;
               }
               $poster = $poster_result->fetch_assoc();

               if($poster['avatar_date'] != 0){
                 $avatar = '/data/avatars/'.$posts['user_id'].'.png?v='.$poster['avatar_date'];
               }else{
                 $avatar = '/data/avatars/default.png';
               }

               $sqltime = "SELECT * FROM d2_activity WHERE replyto = '".$posts['id']."' ORDER BY time DESC";
               if (!$sqltime_result = $mysqli->query($sqltime)) {
                   echo $errormsg;
                   exit;
               }
               $sqltime = $sqltime_result->fetch_assoc();

               if($sqltime['time']){
                 $lastactive = $sqltime['time'];
                 $lastpost = $sqltime['id'];
               }else{
                 $lastactive = $posts['time'];
                 $lastpost = $posts['id'];
               }

               $sql = "SELECT * FROM d2_forums WHERE approved = 1 AND id = ".$posts['category'];
               if (!$category = $mysqli->query($sql)) {
                   echo $errormsg;
                   exit;
               }
               $categoryid = $category->fetch_assoc();

               $sql = "SELECT count(id) as total FROM d2_activity WHERE replyto = ".$posts['id'];
               if (!$replycount = $mysqli->query($sql)) {
                   echo $errormsg;
                   exit;
               }
               $replycountid = $replycount->fetch_assoc();

               $threadclass = "thread-left";

              $page_content .= '<div class="panel panel-default" id="activity-'.$posts['id'].'">
                            <div class="panel-body" style="padding: 8px;">
                            <div class="media">
                            <div class="'.$threadclass.'">
                                <a href="/user/'.$poster['username'].'" class="profile-inline">
                                  <img src="'.$avatar.'" title="'.$poster['username'].'" alt="Avatar" class="img-circle pull-left activity-avatar-size"/>
                                </a>
                                <div style="clear:both"></div>
                            </div>
                            <div class="media-body">
                            <span class="text-muted" style="float:right; text-align: right;">
                              <i>'.$replycountid['total'].' replies&nbsp;</i><br/>
                              in <a href="/forums/?category='.$categoryid['id'].'" class="text-muted">'.$categoryid['name'].'</a>
                            </span>
                                  <a href="/forums/?thread='.$posts['id'].'" class="activity_poster"><b>'.$posts['title'].'</b></a>
                                        </div>
                                            </div>
                                          </div>
                                        </div>';
             $threadimg = null;
           }
         }
    $page_content .= '
            </div>
          </div>
        </div>
{% endblock %}
