{% extends "layout.html" %}
{% block body %}
{% if user_session.sessionid %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <div class="bbcode-editor">
          <div class="bbcode-buttons">
            <span class="bbcode-interact">
            <button id="uploadContent" class="btn btn-primary">Upload File</button>
            <button id="previewContent" class="btn btn-primary">Preview Post</button>
            <button id="submitContent" class="btn btn-primary">Submit Post</button>
          </span>

            <span class="bbcode-button" title="Bold" onclick="insert_bbcode('b');"><i class="silk-icon icon_text_bold" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Italics" onclick="insert_bbcode('i');"><i class="silk-icon icon_text_italic" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Underline" onclick="insert_bbcode('u');"><i class="silk-icon icon_text_underline" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Strikethrough" onclick="insert_bbcode('s');"><i class="silk-icon icon_text_strikethrough" aria-hidden="true"></i></span>
            <span class="bbcode-button-spacer"></span>
            <span class="bbcode-button" title="Link" onclick="insert_bbcode('url');"><i class="silk-icon icon_link" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Image" onclick="insert_bbcode('img');"><i class="silk-icon icon_image" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="YouTube" onclick="insert_bbcode('youtube');"><i class="silk-icon icon_film" aria-hidden="true"></i></span>
            <span class="bbcode-button-spacer"></span>
            <span class="bbcode-button" title="Font Size" onclick="insert_bbcode('size');"><i class="silk-icon icon_text_smallcaps" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Font Color" onclick="insert_bbcode('color');"><i class="silk-icon icon_color_swatch" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Emoticons" onclick="show_emoticons();"><i class="silk-icon icon_emoticon_smile" aria-hidden="true"></i></span>
            <span class="bbcode-button-spacer"></span>
            <span class="bbcode-button" title="Bullet List" onclick="insert_bbcode('bulletlist');"><i class="silk-icon icon_text_list_bullets" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Ordered List" onclick="insert_bbcode('orderedlist');"><i class="silk-icon icon_text_list_numbers" aria-hidden="true"></i></span>
            <span class="bbcode-button-spacer"></span>
            <span class="bbcode-button" title="Code" onclick="insert_bbcode('code');"><i class="silk-icon icon_script_code" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Quote" onclick="insert_bbcode('quote');"><i class="silk-icon icon_comment" aria-hidden="true"></i></span>
            <span class="bbcode-button-spacer"></span>
            <span class="bbcode-button" title="Align Left" onclick="insert_bbcode('left');"><i class="silk-icon icon_text_align_left" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Align Center" onclick="insert_bbcode('center');"><i class="silk-icon icon_text_align_center" aria-hidden="true"></i></span>
            <span class="bbcode-button" title="Align Right" onclick="insert_bbcode('right');"><i class="silk-icon icon_text_align_right" aria-hidden="true"></i></span>
          </div>
          <form class="form-horizontal" id="activityform" action="/functions/edit_post/" method="post">
            <textarea id="postform" class="form-control bbcode-textarea" name="post_content" rows="5">{{post.content}}</textarea>
            <input type="hidden" name="uniqid" value="{{user_session.sessionid}}">
            <input type="hidden" name="editing" id="postEdit" value="{{post.id}}">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
