{% extends "layout.html" %} {% block body %}
      <div class="inner-header">
        Official Channels
      </div>
      <table class="home-forum-list table table-striped">
        <tbody>
          {{ get_channel_list(1)|safe }}
        </tbody>
      </table>
<!--
      <div class="inner-header">
        Unofficial Channels
      </div>
      <table class="home-forum-list table table-striped">
        <tbody>
           get_channel_list(0)|safe 
        </tbody>
      </table>
-->
      <div class="inner-header">
        Recent Posts
      </div>
      <table class="home-forum-list recent-post-list table table-striped">
        <tbody>
          {{ get_recent_posts(20)|safe }}
        </tbody>
      </table>
{% endblock %}
