{% if bancheck %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="D2K5">
    <meta name="author" content="https://faggqt.pw/">
    <meta name="referrer" content="no-referrer">

    <link rel="apple-touch-icon" sizes="180x180" href="{{cdn_path()|safe}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{cdn_path()|safe}}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{cdn_path()|safe}}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{cdn_path()|safe}}/manifest.json">
    <link rel="mask-icon" href="{{cdn_path()|safe}}/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="{{cdn_path()|safe}}/favicon.ico">
    <meta name="msapplication-config" content="{{cdn_path()|safe}}/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>YOU ARE BANNED &bull; D2K5</title>
  </head>

  <body>
    <div style='font-family: arial, tahoma; background: yellow; color: red; width: 80%; padding: 20px; margin: 0 auto; margin-top: 2%; text-align: center; border: 20px dashed red; font-size: 11pt;'><span style='font-size: 24pt; font-weight: bold;'>YOU ARE BANNED!</span><br/><br/>

    You've been banned. You probably know why - but the reason that the moderator gave is below. If you feel this is unjust or just want to bitch about how we're nazis and get laughed at then feel free to <a href='mailto://tears@d2k5.com'>contact someone about it</a>.
    <br/><br/>

    {% if bancheck.ban.reason %}
    <strong>Reason:</strong> {{bancheck.ban.reason}}<br/>
    {% endif %}
    {% if bancheck.ban.length != 0 %}
      <strong>Duration:</strong> {{bancheck.banduration}}<br/>
      <strong>Expires:</strong> {{get_ban_expiry(bancheck.ban.expires)}}
    {% else %}
    <strong>Duration:</strong> Forever<br/>
    <strong>Expires:</strong> Never
    {% endif %}
    <br/>

    </div>
  </body>
</html>
{% else %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="D2K5">
    <meta name="author" content="https://faggqt.pw/">
    <meta name="referrer" content="no-referrer">

    <link rel="apple-touch-icon" sizes="180x180" href="{{cdn_path()|safe}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{cdn_path()|safe}}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{cdn_path()|safe}}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{cdn_path()|safe}}/manifest.json">
    <link rel="mask-icon" href="{{cdn_path()|safe}}/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="{{cdn_path()|safe}}/favicon.ico">
    <meta name="msapplication-config" content="{{cdn_path()|safe}}/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{% if title %} {{ title|striptags }} &bull; {% endif %}D2K5 {% if debug %}(debug){% endif %}</title>

    <link href="{{cdn_path()|safe}}{{get_filemtime('/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{cdn_path()|safe}}{{get_filemtime('/css/ie10-viewport-bug-workaround.css')}}" rel="stylesheet">
    <link href="{{cdn_path()|safe}}{{get_filemtime('/css/font-awesome.min.css')}}" rel="stylesheet">

    {% for style in dynamic_css_header %}
    <link href="{{cdn_path()|safe}}/{{get_filemtime(style)}}" rel="stylesheet">
    {% endfor %}

    <link href="{{cdn_path()|safe}}{{get_filemtime('/icons/iconAtlas.css')}}" rel="stylesheet">
    <link href="{{cdn_path()|safe}}{{get_filemtime('/css/d2k5.css')}}" rel="stylesheet">
    {{get_theme()|safe}}

    <!--[if lt IE 9]>
          <script src="{{cdn_path()|safe}}{{get_filemtime('/js/html5shiv.min.js')}}"></script>
          <script src="{{cdn_path()|safe}}{{get_filemtime('/js/respond.min.js')}}"></script>
        <![endif]-->
  </head>

  <body>
  <div class="row equal" style="max-width: 100%; margin: 0 auto;">
    <div class="cols-nopad col-12 col-sm-9 col-lg-10 main">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        {% if subheading %}
        <span class="navbar-title-sub">
          <a href="{{ url_for('home') }}">D2K5</a> &gt;
          {% for subhead in subheading %}
            {% if subhead %}
              {{subhead|safe}} &gt;
            {% endif %}
          {% endfor %}
        </span>
        {% endif %}
        <span class="navbar-title">
          {% if forumtitle %}
            {{ forumtitle|safe }}
          {% else %}
            {% if title %}
              {{ title|striptags }}
            {% else %}
              D2K5
            {% endif %}
          {% endif %}
          {% if topbuttons %}
            <div class="topbuttons">
              {{topbuttons|safe}}
            </div>
          {% endif %}
        </span>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">
                {% if forumlogo %}
                {{forumlogo|safe}}
                {% else %}
                <img src="{{cdn_path()|safe}}/images/d2k5_logo.svg" alt="D2K5" class="sitelogo">
                {% endif %}
              </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-container">
            <ul class="nav navbar-nav">
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-list" aria-hidden="true"></i> Channels <span class="caret"></span></a>
                <ul class="dropdown-menu channel-list">
                  <li class="forum-list"><a href="#">Official</a></li>
                  {% for forum in forums %}
                  <li>
                    <a href="/{{ forum.short_name }}/">
                      <span style="float:right;">#{{ forum.short_name }}</span>
                      {{ forum.name }}
                    </a>
                  </li>
                  {% endfor %}
                  <li class="forum-list"><a href="#">Unofficial</a></li>
                  {% for forum in custom_forums %}
                  <li>
                    <a href="/{{ forum.short_name }}/">
                      <span style="float:right;">#{{ forum.short_name }}</span>
                      {{ forum.name }}
                    </a>
                  </li>
                  {% endfor %}
                  {% if user_session.sessionid %}
                  <li class="forum-list" style="text-align: center;"><a href="/request-channel/">REQUEST A CHANNEL</a></li>
                  {% endif %}
                </ul>
              </li>
              <li><a href="{{ url_for('chat') }}"><i class="fa fa-comments" aria-hidden="true"></i> Chat ({{get_stats()['irccount']}})</a></li>
              <li><a href="{{ url_for('ban_list') }}"><i class="fa fa-ban" aria-hidden="true"></i> Ban List</a></li>
<!--
              <li><a href="{{ url_for('events') }}"><i class="silk-icon icon_date" aria-hidden="true"></i> Events</a></li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="silk-icon icon_cup" aria-hidden="true"></i> Services <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if user_session.sessionid %}
                  <li><a href="{{ url_for('pastebin') }}">Pastebin</a></li>
                  <li><a href="{{ url_for('upload') }}">File Upload</a></li>
                  {% endif %}
                  <li><a href="/chat/">Internet Relay Chat</a></li>
                  <li><a href="/chat/">XMPP Network</a></li>
                  <li><a href="/quotes/">Quote Database</a></li>
                  <li><a href="/vidya/">Video Chat</a></li>
                  <li><a href="/synctube/">SyncTube</a></li>
                </ul>
              </li>
-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user_session.sessionid %}
              <!--<li><a href="{{ url_for('ban_list') }}"><i class="silk-icon icon_error" aria-hidden="true"></i> Alerts (0)</a></li>-->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user.username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('info') }}">Donate</a></li>
                  <li class="forum-list">&nbsp;</li>
                  <li><a href="{{ url_for('pastebin') }}">My Pastes</a></li>
                  <li><a href="{{ url_for('upload') }}">My Files</a></li>
                  <li class="forum-list">&nbsp;</li>
                  <li><a href="{{ url_for('preferences') }}">Change Profile</a></li>
                  <li><a href="{{ url_for('change_avatar') }}">Change Avatar</a></li>
                  <li><a href="{{ url_for('change_password') }}">Change Password</a></li>
                  <li class="forum-list">&nbsp;</li>
                  {% if user.rank >= 500 %}
                  <li><a href="{{ url_for('siteadmin') }}">Administrative Tools</a></li>
                  {% endif %}
                  <li><a href="{{ url_for('login_history') }}">Login History</a></li>
                  <li><a href="{{ url_for('logout') }}?uniqid={{user_session.sessionid}}">Log Out</a></li>
                </ul>
              </li>
              {% else %}
              <li><a href="{{ url_for('login') }}"><i class="fa fa-icon fa-key" aria-hidden="true"></i> Log In</a></li>
              <li><a href="{{ url_for('register') }}"><i class="fa fa-icon fa-lock" aria-hidden="true"></i> Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        </div>
    </nav>
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block body %}{% endblock %}
    </div>
    </div>
    <div class="cols-sidebar cols-nopad col-12 col-sm-3 col-lg-2 left" style="border-top: 1px solid #ddd; border-left: 1px solid #ddd;">
      <div class="sidebar-userinfo text-center" style="border-bottom: 1px solid #ddd;">
      {% if user_session.sessionid %}
        <div style="padding-left: 8px; padding-right: 8px; padding-top: 10px;">
           <a href="/user/{{user.username}}">
            <img src="{{get_avatar(user.user_id)}}" alt="Avatar" class="home-avatar-size"/>
          </a>
            
            <a href="{{ url_for('upload') }}" style="color: #fff; text-decoration: none;" class="authbutton">My Files</a>
            <a href="{{ url_for('pastebin') }}" style="color: #fff; margin-top: -10px; text-decoration: none;" class="authbutton">My Pastes</a>
            
    <dl class="dl-horizontal statistics" style="margin-top: 10px;">
            <dt>Karma:</dt>
            <dd>
                {% if (user.karma_positive - user.karma_negative) < 0 %}
                <span class="karma negative">
                {% elif (user.karma_positive - user.karma_negative) > 0 %}
                <span class="karma positive">
                {% else %}
                <span class="karma neutral">
                {% endif %}
                {{user.karma_positive - user.karma_negative}}
                </span>
      (<span class="karma positive">+{{user.karma_positive}}</span>/
                <span class="karma negative">-{{user.karma_negative}}</span>)
            </dd>
    <dt>Currency:</dt>
            <dd>&ETH;{{user.points}}</dd>
    <dt>Lines Spoken:</dt>
            <dd>{{user.line_count}}</dd>
            <dt>Profanity Count:</dt>
            <dd>{{user.profanity_count}}</dd>
        </dl>
        </div>
      {% else %}
      <div style="padding-left: 8px; padding-right: 8px; padding-top: 10px;">
            <img src="/static/images/default_avatar.png" alt="Avatar" class="home-avatar-size"/>
          </div>
        <a href="/im/" style="color: #fff; text-decoration: none;" class="authbutton">IRC ({{get_stats()['irccount']}})</a>
        <a href="{{ url_for('register') }}" style="color: #fff; text-decoration: none;" class="authbutton">Register</a>
        <a href="{{ url_for('login') }}" style="color: #fff; margin-top: -10px; text-decoration: none;" class="authbutton">Log In</a>
			{% endif %}
      </div>
      <div class="sidebar-status" style="padding: 12px; border-bottom: 1px solid #ddd;">
        {% if user_session.sessionid %}
        <form class="form-horizontal" action="/functions/update_status" method="POST">
          <input name="status" class="form-control status-update-field" placeholder="Update your status..." type="text">
          <input type="hidden" name="uniqid" value="{{user_session.sessionid}}">
        </form>
        {% endif %}
        {% for status in get_all_status_updates() %}
        <div class="media" style="margin-top: 3px;">
          <div class="media-left" style="padding-right: 5px; vertical-align: middle;">
            <a href="/user/{{status[2]}}">
              <img src="{{get_avatar(status[3])}}" alt="Avatar" class="status-avatar-size"/>
            </a>
          </div>
          <div class="media-body" style="vertical-align: middle;">
            <a href="/user/{{status[2]}}">
              <span class="username {{get_group_style_from_id(status[3])}}">{{status[2]}}</span>
            </a>
            <span class="text-muted" style="font-size: 12px;"> {{status[1]}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
        
    <div class="sidebar-forums" style="border-bottom: 1px solid #ddd;">
      {% for forum in forums %}
      <div class="sidebar-forum">
        <a href="/{{ forum.short_name }}/new_thread">
            <span style="float: right;">
                <i class="silk-icon icon_note_add" aria-hidden="true"></i>
            </span>
        </a>
        <a href="/{{ forum.short_name }}/">
          <i class="silk-icon icon_bullet_black" aria-hidden="true"></i>
          {{ forum.name }}
        </a>
      </div>
      {% endfor %}
      {% for forum in custom_forums %}
      <div class="sidebar-forum">
        <a href="/{{ forum.short_name }}/new_thread">
            <span style="float: right;">
                <i class="silk-icon icon_note_add" aria-hidden="true"></i>
            </span>
        </a>
        <a href="/{{ forum.short_name }}/">
          <i class="silk-icon icon_bullet_black" aria-hidden="true"></i>
          {{ forum.name }}
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="sidebar-statistics text-center" style="border-bottom: 1px solid #ddd;">
          
        <dl class="dl-horizontal statistics" style="margin-top: 10px; margin-bottom: 10px;">
  				<dt>Messages:</dt>
  				<dd>{{get_stats()['threadcount'] + get_stats()['postcount'] + get_stats()['linecount']}}</dd>

          <dt>Channels:</dt>
  				<dd>{{get_stats()['officialforumcount'] + get_stats()['unofficialforumcount']}}</dd>

          <dt>Bans:</dt>
  				<dd>{{get_stats()['bancount']}}</dd>
  			</dl>
        <div style="padding: 0px 20px;">
          <div class="progress">
            <div class="progress-bar {{get_stats()['progress_indicator']}} progress-bar-striped" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:{{get_stats()['disk_percentage']}}%">
              <span>{{get_stats()['filecount']}} files ({{human_size(get_stats()['filesize'])}})</span>
            </div>
          </div>
       </div>
      </div>
        
      <div class="sidebar-donate text-center" style="padding: 18px;">
        <strong>Donations help us afford our servers and our continued existence.</strong><br/>
        <a href="https://paypal.me/d2k5" target="_blank" style="background-color: steelblue; color: #fff; text-decoration: none;" class="authbutton">PayPal</a>
      </div>
    </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <p class="text-muted footer-notice" style="font-style: italic; float:right; text-align: right;">
          All trademarks and copyrights on this page are owned by their respective parties.<br/> Images and files uploaded are the responsibility of the user. Comments are owned by the user.<br/> If you continue to use this site, you are consenting to our
          use of cookies.</p>
          <p class="text-muted">
            <a href="{{ url_for('info') }}">D2K5 &copy; 2002 - {{ now.year }}</a> - <a href="https://github.com/D2K5/SynDBB" target="_blank">Powered by SynDBB {{ syndbb_version }} ({{ syndbb_hash }})</a><br/>
            Theme: &nbsp;<a href="#" onclick="set_theme('white');">White</a> &bull; <a href="#" onclick="set_theme('invert');">Dark</a> &bull; <a href="#" onclick="set_theme('oify');">OIFY</a><br/>
            <i>Page generation took {{ g.request_time() }} seconds. &bull; All times are <abbr title="Greenwich Mean Time">GMT</abbr>.</i>
          </p>
      </div>
    </footer>
    <script src="{{cdn_path()|safe}}{{get_filemtime('/js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{cdn_path()|safe}}{{get_filemtime('/js/bootstrap.min.js')}}"></script>
    {% for script in dynamic_js_footer %}
    <script src="{{cdn_path()|safe}}/{{get_filemtime(script)}}"></script>
    {% endfor %}
    <script src="{{cdn_path()|safe}}{{get_filemtime('/js/includes.js')}}"></script>
  </body>
</html>
{% endif %}
