{% if ban_check %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ get_core_config()['site']['branding'] }}">
    <meta name="author" content="Rendered by{{ get_core_config()['software']['name'] }}">
    <meta name="referrer" content="no-referrer">

    <link rel="apple-touch-icon" sizes="180x180" href="{{cdn_path()|safe}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{cdn_path()|safe}}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{cdn_path()|safe}}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{cdn_path()|safe}}/js/manifest.json">
    <link rel="mask-icon" href="{{cdn_path()|safe}}/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="{{cdn_path()|safe}}/favicon.ico">

    <meta name="msapplication-config" content="{{cdn_path()|safe}}/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>YOU ARE BANNED &bull; {{ get_core_config()['site']['branding'] }}</title>
  </head>

  <body>
    <div style='font-family: arial, tahoma; background: yellow; color: red; width: 80%; padding: 20px; margin: 0 auto; margin-top: 2%; text-align: center; border: 20px dashed red; font-size: 11pt;'><span style='font-size: 24pt; font-weight: bold;'>YOU ARE BANNED</span><br/><br/>

    You've been banned. You probably know why - but the reason that the member of council gave is below. If you feel this is unjust, feel free to <a href='{{ get_core_config()['site']['contact']|safe }}'>contact</a> us.
    <br/><br/>

    {% if ban_check.ban.reason %}
    <strong>Reason:</strong> {{ban_check.ban.reason}}<br/>
    {% endif %}
    {% if ban_check.ban.length != 0 %}
      <strong>Duration:</strong> {{ban_check.banduration}}<br/>
      <strong>Expires:</strong> {{get_ban_expiry(ban_check.ban.expires)}}
    {% else %}
    <strong>Duration:</strong> Forever<br/>
    <strong>Expires:</strong> Never
    {% endif %}
    <br/>

    </div>
  </body>
</html>
{% else %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ get_core_config()['site']['branding'] }}">
    <meta name="author" content="Rendered by{{ get_core_config()['software']['name'] }}">
    <meta name="referrer" content="no-referrer">

    <link rel="apple-touch-icon" sizes="180x180" href="{{cdn_path()|safe}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{cdn_path()|safe}}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{cdn_path()|safe}}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{cdn_path()|safe}}/js/manifest.json">
    <link rel="mask-icon" href="{{cdn_path()|safe}}/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="{{cdn_path()|safe}}/favicon.ico">
    
    <meta name="msapplication-config" content="{{cdn_path()|safe}}/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="{{ get_core_config()['site']['branding'] }}" />
    <meta name="twitter:site" content="{% if title %} {{ title|striptags }} &bull; {% endif %}{{ get_core_config()['site']['branding'] }} {% if debug %}(debug){% endif %}" />
    <meta property="og:title" content="{% if title %} {{ title|striptags }} &bull; {% endif %}{{ get_core_config()['site']['branding'] }} {% if debug %}(debug){% endif %}" />
    {% if meta_description %}
    <meta property="og:description" content="{{meta_description}}" />
    {% endif %} 
    {% if meta_image %} 
    <meta property="og:image" content="{{meta_image}}" />
    {% else %}
    <meta property="og:image" content="{{cdn_path()|safe}}/apple-touch-icon.png" />
    {% endif %}

    <title>{% if title %} {{ title|striptags }} &bull; {% endif %}{{ get_core_config()['site']['branding'] }} {% if debug %}(debug){% endif %}</title>

    <link href="{{cdn_path()|safe}}{{get_filemtime('/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{cdn_path()|safe}}{{get_filemtime('/css/ie10-viewport-bug-workaround.css')}}" rel="stylesheet">
    <link href="{{cdn_path()|safe}}{{get_filemtime('/css/font-awesome.min.css')}}" rel="stylesheet">

    {% for style in dynamic_css_header %}
    <link href="{{cdn_path()|safe}}/{{get_filemtime(style)}}" rel="stylesheet">
    {% endfor %}

    <link href="{{cdn_path()|safe}}{{get_filemtime('/icons/iconAtlas.css')}}" rel="stylesheet">
    <link href="{{cdn_path()|safe}}{{get_filemtime('/css/d2k5.css')}}" rel="stylesheet">
    {{get_theme()|safe}}

    <!--[if lt IE 9]>
          <script src="{{cdn_path()|safe}}{{get_filemtime('/js/html5shiv.min.js')}}"></script>
          <script src="{{cdn_path()|safe}}{{get_filemtime('/js/respond.min.js')}}"></script>
        <![endif]-->
  </head>

  <body>
  <div class="row equal" style="max-width: 100%; margin: 0 auto;">
    <div class="site-content">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        {% if subheading %}
        <span class="navbar-title-sub">
          <a href="{{ url_for('home') }}">{{ get_core_config()['site']['branding'] }}</a> &gt;
          {% for subhead in subheading %}
            {% if subhead %}
              {{subhead|safe}} &gt;
            {% endif %}
          {% endfor %}
        </span>
        {% endif %}
        <span class="navbar-title">
          {% if channeltitle %}
            {{ channeltitle|safe }}
          {% else %}
            {% if title %}
              {{ title|striptags }}
            {% else %}
              {{ get_core_config()['site']['branding'] }}
            {% endif %}
          {% endif %}
          {% if topbuttons %}
            <div class="topbuttons">
              {{topbuttons|safe}}
            </div>
          {% endif %}
        </span>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">
                {% if channellogo %}
                {{channellogo|safe}}
                {% else %}
                <img src="{{cdn_path()|safe}}/images/logo.svg" alt="{{ get_core_config()['site']['branding'] }}" class="sitelogo">
                {% endif %}
              </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-container">
            <ul class="nav navbar-nav">
               <li><a href="{{ url_for('home') }}"><i class="silk-icon icon_calendar" aria-hidden="true"></i> Activity</a></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="silk-icon icon_application_view_list" aria-hidden="true"></i> Channels <span class="caret"></span></a>
                <ul class="dropdown-menu channel-list-dropdown">
                  <li class="channel-list"><a href="#">{{ get_core_config()['site']['branding'] }}</a></li>
                  {% for channel in channels %}
                  <li>
                    <a href="/{{ channel.short_name }}/">
                      <!-- <span style="float:right;">#{{ channel.short_name }}</span> -->
                      {{ channel.name }}
                    </a>
                  </li>
                  {% endfor %}
                  <li class="channel-list"><a href="#">NSFW</a></li>
                  {% for channel in nsfw_channels %}
                  <li>
                    <a href="/{{ channel.short_name }}/">
                      <!-- <span style="float:right;">#{{ channel.short_name }}</span> -->
                      {{ channel.name }}
                    </a>
                  </li>
                  {% endfor %}
                  <li class="channel-list"><a href="#">Community</a></li>
                  {% for channel in custom_channels %}
                  <li>
                    <a href="/{{ channel.short_name }}/">
                      <!-- <span style="float:right;">#{{ channel.short_name }}</span> -->
                      {{ channel.name }}
                    </a>
                  </li>
                  {% endfor %}
                  {% if user_session.sessionid %}
                  <li class="channel-list" style="text-align: center;"><a href="/request-channel/">Request Channel</a></li>
                  {% endif %}
                </ul>
              </li>
              <li><a href="{{ url_for('view_qdb') }}"><i class="silk-icon icon_comments" aria-hidden="true"></i> Quotes</a></li>
              {% if get_core_config()['site']['show_public_bans'] %}
              <li><a href="{{ url_for('ban_list') }}"><i class="silk-icon icon_date_delete" aria-hidden="true"></i> Bans</a></li>
              {% endif %}
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="silk-icon icon_server_go" aria-hidden="true"></i> Services <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="https://info.d2k5.com/chat/" target="_blank"><i class="silk-icon icon_application_side_tree" aria-hidden="true"></i> Chat Servers</a></li>
                  <li><a href="https://txt.d2k5.com/" target="_blank"><i class="silk-icon icon_page_white_key" aria-hidden="true"></i> Privatebin</a></li>
                  <li><a href="https://img.d2k5.com/" target="_blank"><i class="silk-icon icon_report_picture" aria-hidden="true"></i> Image Gallery</a></li>
                  <li><a href="https://fs.d2k5.com/" target="_blank"><i class="silk-icon icon_drive_network" aria-hidden="true"></i> Cloud Storage</a></li>
                  <li><a href="https://mirror.d2k5.com/" target="_blank"><i class="silk-icon icon_folder_go" aria-hidden="true"></i> Mirrors/Archive</a></li>
                  <li><a href="https://vd.d2k5.com/" target="_blank"><i class="silk-icon icon_application_view_tile" aria-hidden="true"></i> Video Meet</a></li>
                  <li><a href="https://stream.d2k5.com/" target="_blank"><i class="silk-icon icon_application_view_gallery" aria-hidden="true"></i> Stream</a></li>
                  <li><a href="https://media.d2k5.com/" target="_blank"><i class="silk-icon icon_film_save" aria-hidden="true"></i> Media Share</a></li>
                  <li><a href="https://synctube.d2k5.com/" target="_blank"><i class="silk-icon icon_control_play" aria-hidden="true"></i> Synctube</a></li>
                  <li class="channel-list" style="text-align: center;"><a href="https://info.d2k5.com" target="_blank">View All</a></li>
                </ul>
              </li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user_session.sessionid %}
              <!--<li><a href="{{ url_for('ban_list') }}"><i class="silk-icon icon_error" aria-hidden="true"></i> Alerts (0)</a></li>-->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="silk-icon icon_user_gray" aria-hidden="true"></i> {{get_displayed_name_by_username(user.username)}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if user.rank >= 500 %}
                  <li><a href="{{ url_for('siteadmin') }}"><i class="silk-icon icon_report_user" aria-hidden="true"></i> Administrative Tools</a></li>
                  {% endif %}
                  <li><a href="/user/{{user.username}}"><i class="silk-icon icon_vcard" aria-hidden="true"></i> View Profile</a></li>
                  <li class="channel-list list-separator">&nbsp;</li>
                  <li><a href="{{ url_for('upload') }}"><i class="silk-icon icon_folder_user" aria-hidden="true"></i> My Files</a></li>
                  <li><a href="{{ url_for('pastebin') }}"><i class="silk-icon icon_paste_plain" aria-hidden="true"></i> My Pastes</a></li>
                  <li><a href="{{ url_for('profiles') }}"><i class="silk-icon icon_group_link" aria-hidden="true"></i> My Profiles</a></li>
                  {% if get_core_config()['site']['invite_only'] %}
                  <li><a href="{{ url_for('my_invites') }}"><i class="silk-icon icon_book_addresses" aria-hidden="true"></i> My Invites</a></li>
                  {% endif %}
                  <li class="channel-list list-separator">&nbsp;</li>
                  <li><a href="{{ url_for('configure_avatar') }}"><i class="silk-icon icon_image_edit" aria-hidden="true"></i> Change Avatar</a></li>
                  <li><a href="{{ url_for('configure_flair') }}"><i class="silk-icon icon_tag_green" aria-hidden="true"></i> Change Flair</a></li>
                  <li><a href="{{ url_for('preferences') }}"><i class="silk-icon icon_cog" aria-hidden="true"></i> Preferences</a></li>
                  <li class="channel-list list-separator">&nbsp;</li>
                  <li><a href="{{ url_for('change_password') }}"><i class="silk-icon icon_lock_edit" aria-hidden="true"></i> Change Password</a></li>
                  <li><a href="{{ url_for('login_history') }}"><i class="silk-icon icon_lock_break" aria-hidden="true"></i> Login History</a></li>
                  <li><a href="{{ url_for('logout') }}?uniqid={{user_session.sessionid}}"><i class="silk-icon icon_lock_delete" aria-hidden="true"></i> Log Out</a></li>
                </ul>
              </li>
              {% else %}
                {% if (request.path != "/login/") and (request.path != "/register/") %}
                  <li class="nav-auth"><a href="{{ url_for('login') }}"><i class="silk-icon icon_key" aria-hidden="true"></i> Log in</a></li>
                  <li class="nav-auth"><a href="{{ url_for('register') }}"><i class="silk-icon icon_user_add" aria-hidden="true"></i> Register</a></li>
                {% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
        </div>
    </nav>
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
    </div>
    </div>
    <div class="site-sidebar">
      {% if not sidebar_extras or sidebar_extras %}
        <div class="sidebar-userinfo text-center" style="border-bottom: 1px solid #ddd;">
        {% if user_session.sessionid %}
          <div style="padding-left: 8px; padding-right: 8px; padding-top: 10px;">
              <a href="/user/{{user.username}}">
                  <img src="{{get_avatar_by_id(user.user_id)}}" alt="Avatar" class="home-avatar-size"/>
              </a>
              

              {% if get_linked_by_id(user.user_id) %}
                <div class="siderbar-user-switch">
                {% for linked_user in get_linked_by_id(user.user_id) %}
                  {% if linked_user['user_id'] != user.user_id  %}
                  <div class="siderbar-user-switcher">
                      <a href="/functions/change_user/?userid={{linked_user['user_id']}}&uniqid={{user_session.sessionid}}" title="Activate {{get_displayed_name_by_username(linked_user['username'])}}" class="text-muted"><img src="{{get_avatar_by_id(linked_user['user_id'])}}" alt="Avatar" class="sidebar-user-switch-icon" /></a>
                  </div>
                  {% endif %}
                {% endfor %}
                </div>
              {% endif %}

              <div class="welcome-back">Welcome back, <span class="username {{get_group_style_by_username(user.username)}}">{{get_displayed_name_by_username(user.username)}}</span>!</div>

              <a href="{{ url_for('upload') }}" style="color: #fff; text-decoration: none; padding-left: 16px; padding-right: 16px;" class="authbutton">
                  <span style="float:right;">{{human_size(user_stats(user.user_id)['filesize'])}}</span>
                  <span style="float:left;">My Files</span>
              </a>
              <a href="{{ url_for('pastebin') }}" style="color: #fff; text-decoration: none; margin-top: -8px; padding-left: 16px; padding-right: 16px;" class="authbutton">
                  <span style="float:right;">{{user_stats(user.user_id)['pastecount']}}</span>
                  <span style="float:left;">My Pastes</span>
              </a>
              {% if get_core_config()['site']['is_shop_enabled'] %}
              <a href="#" style="color: #fff; text-decoration: none; padding-left: 16px; padding-right: 16px;" class="authbutton">
                  <span style="float:right;">&ETH;{{user.points}}</span>
                  <span style="float:left;">Currency</span>
              </a>
              {% endif %}
          </div>
        {% else %}
        <div style="padding-left: 8px; padding-right: 8px; padding-top: 10px;">
            <img src="/static/images/default_avatar.png" alt="Avatar" class="home-avatar-size"/>
        </div>
        {% if (request.path != "/login/") and (request.path != "/register/") %}
        <a href="{{ url_for('register') }}" style="color: #fff; text-decoration: none;" class="authbutton">Register</a>
        <a href="{{ url_for('login') }}" style="color: #fff; margin-top: -10px; text-decoration: none;" class="authbutton">Log In</a>
        {% endif %}
        {% endif %}
      </div>
    {% endif %}
    {% if sidebar_extras %}
    <div class="sidebar-extras" style="border-bottom: 1px solid #ddd;">
      {{ sidebar_extras|safe }}
    </div>
    {% else %}
      {% if get_core_config()['site']['show_sidebar_status'] %}
      {% if (not get_core_config()['site']['show_sidebar_status_reg_only'] and not user_session.sessionid) or user_session.sessionid %}
      <div class="sidebar-status" style="padding: 12px; border-bottom: 1px solid #ddd;">
        {% if user_session.sessionid %}
        <form class="form-horizontal" action="/functions/update_status" method="POST">
          <input name="status" class="form-control status-update-field" placeholder="Update your status..." type="text">
          <input type="hidden" name="uniqid" value="{{user_session.sessionid}}">
        </form>
        {% endif %}
        {% for status in get_all_status_updates() %}
        <div class="media" style="margin-top: 3px;">
          <div class="media-left" style="padding-right: 5px; vertical-align: middle;">
            <a href="/user/{{status[2]}}" class="profile-inline">
              <img src="{{get_avatar_by_id(status[3])}}" alt="Avatar" class="status-avatar-size"/>
            </a>
          </div>
          <div class="media-body" style="vertical-align: middle;">
            <a href="/user/{{status[2]}}">
              <span class="username {{get_group_style_by_id(status[3])}}">{{status[4]}}</span>
            </a>
            <span class="text-muted" style="font-size: 12px;"> {{status[1]}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endif %}
    {% endif %}
    {% if request.path != "/" %}
    <div class="sidebar-channels" style="border-bottom: 1px solid #ddd;">
      {% for channel in channels %}
      <div class="sidebar-channel">
        <a href="/{{ channel.short_name }}/new_thread">
            <span style="float: right;">
                <i class="silk-icon icon_note_add" aria-hidden="true"></i>
            </span>
        </a>
        <a href="/{{ channel.short_name }}/">
          <i class="silk-icon icon_bullet_black" aria-hidden="true"></i>
          {{ channel.name }}
        </a>
      </div>
      {% endfor %}
      {% for channel in custom_channels %}
      <div class="sidebar-channel">
        <a href="/{{ channel.short_name }}/new_thread">
            <span style="float: right;">
                <i class="silk-icon icon_note_add" aria-hidden="true"></i>
            </span>
        </a>
        <a href="/{{ channel.short_name }}/">
          <i class="silk-icon icon_bullet_black" aria-hidden="true"></i>
          {{ channel.name }}
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% if get_core_config()['site']['show_statistics'] %}
    {% if (not get_core_config()['site']['show_statistics_reg_only'] and not user_session.sessionid) or user_session.sessionid %}
    <div class="sidebar-statistics text-center" style="border-bottom: 1px solid #ddd;">
        <dl class="dl-horizontal statistics" style="margin-top: 10px; margin-bottom: 10px;">
          {% if get_core_config()['site']['show_statistics_thread_count'] %}
          <dt>Threads:</dt>
          <dd>{{get_stats()['threadcount']}}</dd>
          {% endif %}
  
          {% if get_core_config()['site']['show_statistics_post_count'] %}
          <dt>Posts:</dt>
          <dd>{{get_stats()['postcount']}}</dd>
          {% endif %}
  
          {% if get_core_config()['site']['show_statistics_channel_count'] %}
          <dt>Channels:</dt>
          <dd><span title="Official Channels">{{get_stats()['officialchannelcount']}}</span> + <span title="Community Channels">{{get_stats()['unofficialchannelcount']}}</span></dd>
          {% endif %}

          {% if get_core_config()['site']['show_public_bans'] and get_core_config()['site']['show_statistics_ban_count'] %}
          <dt>Bans:</dt>
          <dd>{{get_stats()['bancount']}}</dd>
          {% endif %}

          {% if get_core_config()['site']['show_statistics_user_count'] %}
          <dt>Registered Members:</dt>
          <dd>{{get_stats()['usercount']}}</dd>
          {% endif %}
        </dl>
        {% if get_core_config()['site']['show_statistics_file_progress'] %}
        <div style="padding: 0px 20px;">
          <div class="progress">
            <div class="progress-bar {{get_stats()['progress_indicator']}} progress-bar-striped" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:{{get_stats()['disk_percentage']}}%">
              <span>Serving {{get_stats()['filecount']}} files ({{human_size(get_stats()['filesize'])}})</span>
            </div>
          </div>
       </div>
       {% endif %}
      </div>
      {% endif %}
    {% endif %}
    {% if get_core_config()['site']['show_donate_info'] %}
    <div class="sidebar-donate text-center" style="padding: 18px;">
        <div style="font-weight: bold; font-size: 11pt; margin-bottom: 8px;">Donate to us:</div>
        <a href="https://info.d2k5.com/donate/xmr.txt" target="_blank" style="background-color: #ff6600; color: #fff; text-decoration: none;" class="authbutton">via Monero</a>
        <a href="https://info.d2k5.com/donate/btc.txt" target="_blank" style="background-color: #f69627; color: #fff; text-decoration: none;" class="authbutton">via Bitcoin</a>
        </div>
    </div>
    {% endif %}
    </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <p class="text-muted footer-notice" style="font-style: italic; float:right; text-align: right;">
          <a href="{{ get_core_config()['site']['rules_and_terms_url'] }}" target="_blank" title="Rules & Term of Service" style="font-size: 13px; color: dimgrey;">All trademarks and copyrights on this site are owned by their respective parties.<br/> Images and files uploaded are the responsibility of the user. Comments are owned by the user.<br/> If you continue to use this site, you are consenting to our use of cookies.</a></p>
          <p class="text-muted">
            <a href="{{ get_core_config()['site']['info_url']  }}">{{ get_core_config()['site']['branding'] }} &#8729; {{ get_core_config()['site']['year_founded'] }} - {{ now.year }}</a>
            <!-- &#8729; Powered by {{ get_core_config()['software']['url']|safe }} {{ get_core_config()['software']['version'] }} ({{ get_core_config()['software']['codename'] }}) ({{ get_core_config()['software']['hash'] }}) -->
            <br/>
            Theme: &nbsp;<a href="#" onclick="set_theme('white');">Day</a> &bull; <a href="#" onclick="set_theme('invert');">Night</a> &bull; <a href="#" onclick="set_theme('futaba');">Futaba</a> &bull; <a href="#" onclick="set_theme('yotsuba');">Yotsuba</a><br/>
            <i>Page generation took {{ g.request_time() }} seconds. &bull; All times are <abbr title="Greenwich Mean Time">GMT</abbr>.</i>
          </p>
      </div>
    </footer>
    <script src="{{cdn_path()|safe}}{{get_filemtime('/js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{cdn_path()|safe}}{{get_filemtime('/js/bootstrap.min.js')}}"></script>
    {% for script in dynamic_js_footer %}
    <script src="{{cdn_path()|safe}}/{{get_filemtime(script)}}"></script>
    {% endfor %}
    <script src="{{cdn_path()|safe}}{{get_filemtime('/js/includes.js')}}"></script>
  </body>
</html>
{% endif %}
