{% if not isInline %}
{% extends "layout.html" %}
{% endif %}
{% block body %}
	<div class="media">
		<div class="media-left">
			{% if not isInline %}
				{% if user.user_id == profile.user_id %}
				<a href="/account/avatar">
					<img src="{{get_avatar(profile.user_id)}}" alt="Avatar" class="img-circle pull-left profile-avatar-size" style="padding: 8px;"/>
				</a>
				{% else %}
				<a id="profileAvatar" href="{{get_avatar(profile.user_id)}}">
					<img src="{{get_avatar(profile.user_id)}}" alt="Avatar" class="img-circle pull-left profile-avatar-size" style="padding: 8px;"/>
				</a>
				{% endif %}
			{% else %}
			<a href="/user/{{profile.username}}">
				<img src="{{get_avatar(profile.user_id)}}" alt="Avatar" class="img-circle pull-left profile-avatar-size" style="padding: 8px;"/>
			</a>
			{% endif %}
			{% if not isInline %}
			<div style="text-align: center; display: block; min-height: 340px;">
				<div class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i></a>
			    <ul class="dropdown-menu">
						{% if user.rank >= 500 %}
							{% if is_banned(profile.user_id) %}
							<li><a href="/account/admin/ban/?user={{profile.user_id}}">Unban {{profile.username}}</a></li>
							{% else %}
							<li><a href="/account/admin/ban/?user={{profile.user_id}}">Ban {{profile.username}}</a></li>
							{% endif %}
						{% endif %}
			      <li><a href="/threads/{{profile.user_id}}">Threads by {{profile.username}}</a></li>
			      <li><a href="/posts/{{profile.user_id}}">Posts by {{profile.username}}</a></li>
			    </ul>
			  </div>
			</div>
			{% endif %}
		</div>
		<div class="media-body">
			{% if not isInline %}
			<span class="text-muted" style="float:right; text-align: right;">
				<span style="font-size: 18pt;">{{get_user_title(profile.title)}}</span>&nbsp;
        {% if user.rank >= 500 %}
				<br/>
        {% if profile.last_activity %}
        <i>Last active {{time_ago(profile.last_activity)}}.</i>
				<br/>
        {% endif %}
        {% if profile.last_login %}
        <i>Last logged in {{time_ago(profile.last_login)}}.</i>
				<br/>
        {% endif %}
        <i>Registered {{time_ago(profile.join_date)}}.</i>
				<br/>
        {% endif %}
			</span>
			{% endif %}
			<a href="/user/{{profile.username}}">
				<p class="profile-username" style="{{get_group_style_from_id(profile.user_id)}}">{{profile.username}}</p>
			</a>
			<dl class="dl-horizontal">
        {% if profile.gender %}
				<dt>Gender:</dt>
				<dd>{{profile.gender}}</dd>
        {% endif %}
        {% if profile.location %}
				<dt>Location:</dt>
				<dd>{{profile.location}}</dd>
        {% endif %}
        {% if profile.occupation %}
				<dt>Occupation:</dt>
				<dd>{{profile.occupation}}</dd>
        {% endif %}
        {% if profile.site %}
				<dt>Website:</dt>
				<dd>
					<a href="{{profile.site}}" target="_blank">{{profile.site}}</a>
				</dd>
        {% endif %}
			</dl>
			{% if not isInline %}
			<dl class="dl-horizontal">
				<dt>Lines Spoken:</dt>
				<dd>{{profile.line_count}} ({{profile.word_count}} words)</dd>
				<dt>Profanity Count:</dt>
				<dd>{{profile.profanity_count}}</dd>
			</dl>
			{% endif %}
			<dl {% if isInline %}style="margin-bottom: 0px !important;"{% endif %} class="dl-horizontal">
				<dt>Currency:</dt>
				<dd>&ETH;{{profile.points}}</dd>
				<dt>Karma:</dt>
				<dd>
					{% if (profile.karma_positive - profile.karma_negative) < 0 %}
					<span style="color: red; font-weight: bold;">
					{% elif (profile.karma_positive - profile.karma_negative) > 0 %}
					<span style="color: green; font-weight: bold;">
					{% else %}
					<span style="color: grey; font-weight: bold;">
					{% endif %}
					{{profile.karma_positive - profile.karma_negative}}
					</span>
          (<span style="color: green">+{{profile.karma_positive}}</span>/
					<span style="color: red">-{{profile.karma_negative}}</span>)
				</dd>
			</dl>
			{% if not isInline %}
	      {% if profile.bio %}
	      <div style="margin-left: 20px;">
	        {{parse_bbcode(profile.bio)|safe}}
	      </div>
	      {% endif %}
			{% endif %}
			<br/>
		</div>
  </div>
{% endblock %}
