{% extends "layout.html" %} {% block body %}
{% if user_session.sessionid %}
<strong>Submission Guidelines:</strong>
<ul>
  <li>Submitted quotes shouldn't contain harassment, personal attacks and the like.</li>
  <li>All submitted quotes must be admin approved.</li>
</ul>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="thread-left">
        <img src="{{get_avatar(user.user_id)}}" alt="Avatar" class="img-circle pull-left activity-avatar-size">
      </div>
      <div class="media-body">
        <form class="form-horizontal" id="activityform" action="/functions/create_quote/" method="post">
          <textarea id="postform" class="form-control bbcode-textarea" name="post_content" rows="5"></textarea>
          <br/><button id="submitContent" class="btn btn-primary">Submit Quote</button>
          <input type="hidden" name="uniqid" value="{{user_session.sessionid}}">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% for quote in quotes %}
  <div class="quote-container panel panel-default" id="{{quote.id}}">
    <div class="panel-body">
  	<div class="media">
  	  <div class="media-body">
        <div class="RatingContainer Rating">
            <a href="/functions/rate_quote/?quote_id={{quote.id}}&type=up&uniqid={{user_session.sessionid}}" class="RatingUp DoRatingUp"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            <span class="PostRating-{{quote.id}} Rating">{{quote.rating}}</span>
            <a href="/functions/rate_quote/?quote_id={{quote.id}}&type=down&uniqid={{user_session.sessionid}}" class="RatingDown DoRatingDown"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </div>
        <div class="QuoteContainer">
          <pre>{{quote.content}}</pre>
          <span class="text-muted" style="float:right; text-align: right;">
          <a href="#{{quote.id}}">{{human_date(quote.time)}}</a>
          </span>
          <span class="text-muted">submitted by <a href="/user/{{quote.user.username}}" class="profile-inline" style="{{get_group_style_from_id(quote.user_id)}}">{{quote.user.username}}</a></span>
        </div>
  	  </div>
  	</div>
    </div>
  </div>
{% endfor %}
{% endblock %}
