{% extends "layout.html" %} {% block body %}
<strong>Guidelines:</strong>
<ul>
  <li>Must have an appropriate filename. For example: smile.gif will become :smile: once its been accepted.</li>
  <li>You can view and delete any emoticons you've submitted until they've been approved.</li>
  <li>64KB max in filesize, up to 100x32px in image size.</li>
  <li>All user-submitted emoticons must be admin approved.</li>
  <li>Submitted emoticons must be safe for work.</li>
</ul>
<br/>
<div class="panel panel-default">
  <div class="panel-body">
    <form id="uploadform" action="/functions/upload_emoticon" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input id="file" name="file" type="file" class="filestyle" onchange="this.form.submit()">
      </div>
    </form>
  </div>
  {% for emote in emote_list %}
  <div class="text-center img-grid">
    <div class="panel-body">
      <div class="emoticon-list center-block">
        <a href="/static/data/emoticons/{{user.username}}/{{emote[0]}}" target="_blank">
              <img src="#" data-original="/static/data/emoticons/{{user.username}}/{{emote[0]}}" alt="{{emote[1]}}" class="emoticon-list" title="{{emote[1]}}"/>
              </a>
          <div class="avatar_details">
            <span class="avatar_date">{{emote[1]}}</span>
            <span style="float:right;">
                  <a href="/functions/delete_emoticon/?file={{emote[0]}}&uniqid={{user_session.sessionid}}" title="Delete File" class="text-muted deletebutton"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </span>
          </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
