{% extends "layout.html" %}{% block body %}
<div class="thread-title"><span style="float: right;">{{human_size(total_size)}}</span>{{filecount}} files</div>
<div class="upload-title"><a href="/upload/gallery" title="Gallery View" style="float:right;"><i class="fa fa-picture-o" aria-hidden="true"></i></a></div>
<div class="panel panel-default">
  <div class="panel-body">
    <form id="uploadform" action="/functions/upload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input id="file" name="file" class="filestyle" onchange="this.form.submit()" tabindex="-1" type="file">
        <input type="hidden" name="uploader" value="upload">
      </div>
    </form>
    <div id="uploadLoader" style="display: none; text-align: center;">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table class="file-list table table-striped">
    <tbody>
      {% for file in file_list %}
      <tr>
        <td class="file-thumbnail"><a href="{{uploadurl}}{{user.username}}/{{file[2]}}" target="_blank">{{file[3]|safe}}</a></td>
        <td class="file-name"><a href="{{uploadurl}}{{user.username}}/{{file[2]}}" target="_blank">{{file[2]}}</a></td>
        <td class="file-date text-muted">{{human_size(file[1])}}</td>
        <td class="file-date text-muted" title="{{time_ago(file[0])}}">{{human_date(file[0])}}</td>
        <td class="file-actions"><a href="/functions/delete_file?file={{file[2]}}&uniqid={{user_session.sessionid}}&uploader=upload" title="Delete File" class="text-muted deletebutton"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
