{% extends "layout.html" %}{% block body %}
<div class="upload-title" style="margin-top: 4px; font-size: 16px;">
<!--<a href="/store/" title="Store" style="float:right;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>-->
</div>
<div class="progress" style="margin: 16px 16px 4px 16px;">
    <div class="progress-bar {{user_stats(user.user_id)['progress_indicator']}} progress-bar-striped" role="progressbar" aria-valuenow="40"
    aria-valuemin="0" aria-valuemax="100" style="width:{{user_stats(user.user_id)['disk_percentage']}}%">
    <span>{{human_size(user_stats(user.user_id)['filesize'])}} out of {{human_size(user_stats(user.user_id)['disk_total'])}} stored ({{user_stats(user.user_id)['filecount']}} files)</span>
    </div>
</div>
<div class="upload-title">
  <a href="/account/preferences" title="Settings" style="float:right; margin-left: 10px;"><i class="fa fa-cog" aria-hidden="true"></i></a>
  <a href="/upload/anonymous" title="Anonymous Upload" style="float:right; margin-left: 10px;"><i class="fa fa-user-secret" aria-hidden="true"></i></a>
  <a href="/upload/gallery" title="Gallery View" style="float:right;"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <form id="uploadform" action="/functions/upload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input id="file" name="file" class="filestyle" onchange="this.form.submit()" tabindex="-1" type="file">
        <input type="hidden" name="uploader" value="upload">
        <div class="upload-box" style="margin-bottom: -100px;">
<!--
          <label class="checkbox-inline">
            <input type="checkbox" id="timedelete" name="timedelete" value="1"><span class="text">Delete in 24 hours</span>
          </label>
-->
        </div>
      </div>
    </form>
    <div id="uploadLoader" style="display: none; text-align: center;">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<div class="upload-pagination">
<form action="/upload/" class="amountselector" method="get">
  <select name="amount" onchange="this.form.submit()">
      {{ countselector | safe }}
  </select>
</form>
{{ pagination.links }}
</div>
  <table class="file-list table table-striped" id="uploads">
    <tbody>
      {% for file in file_list %}
      <tr>
        <td class="file-thumbnail"><a href="{{uploadurl}}{{uploader_name}}/{{file[2]}}" target="_blank">{{file[3]|safe}}</a></td>
        <td class="file-name"><a href="{{uploadurl}}{{uploader_name}}/{{file[2]}}" target="_blank">{{file[2]}}</a></td>
        <td class="file-date text-muted">{{human_size(file[1])}}</td>
        <td class="file-date text-muted" title="{{time_ago(file[0])}}">{{recent_date(file[0])}}</td>
          <td class="file-actions"><a href="/upload/view?file={{uploader_name}}/{{file[2]}}" target="_blank"><i class="fa fa-info-circle" aria-hidden="true"></i></a> <a href="/functions/delete_file?file={{file[2]}}&uniqid={{user_session.sessionid}}&uploader=upload" title="Delete File" class="text-muted deletebutton"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="upload-pagination">
{{ pagination.links }}
</div>
{% endblock %}