{% extends "layout.html" %}{% block body %}
<div class="upload-title">
  <a href="/account/preferences" title="Settings" style="float:right; margin-left: 10px;"><i class="fa fa-cog" aria-hidden="true"></i></a>
  <a href="/upload" title="Regular Upload" style="float:right; margin-left: 10px;"><i class="fa fa-user-o" aria-hidden="true"></i></a>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <form id="uploadform" action="/functions/upload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input id="file" name="file" class="filestyle" onchange="this.form.submit()" tabindex="-1" type="file">
        <input type="hidden" name="uploader" value="upload_anon">
        <input type="hidden" id="anonymous" name="anonymous" checked value="1" />
        <div class="upload-box">

          <span style="font-style: italic; font-size: 12px;"><a href="https://en.wikipedia.org/wiki/Exif"target="_blank" class="link-dotted">Exif</a> data is automatically removed from images and deleted files are securely wiped using <a href="https://en.wikipedia.org/wiki/Shred_(Unix)"target="_blank" class="link-dotted">"shred"</a>.</span>

          <span style="float: right;">{{human_size(total_size)}} - {{filecount}} files</span>

          <br/><br/>

          <b>URL:</b> {{uploadurl}}{{uploader_name}}/&lt;filename&gt; (<a href="/account/preferences" title="User Preferences" style="border-bottom: 1px dotted black;">change</a>)<br/>
<!--
          <label class="checkbox-inline">
            <input type="checkbox" id="timedelete" name="timedelete" value="1"><span class="text">Delete in 24 hours</span>
          </label>
-->
        </div>
      </div>
    </form>
    <div id="uploadLoader" style="display: none; text-align: center;">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<div class="upload-pagination">
<form action="/upload/anonymous/" class="amountselector" method="get">
  <select name="amount" onchange="this.form.submit()">
      {{ countselector | safe }}
  </select>
</form>
{{ pagination.links }}
</div>
  <table class="file-list table table-striped" id="uploads">
    <tbody>
      {% for file in file_list %}
      <tr>
        <td class="file-thumbnail"><a href="{{uploadurl}}{{uploader_name}}/{{file[2]}}" target="_blank">{{file[3]|safe}}</a></td>
        <td class="file-name"><a href="{{uploadurl}}{{uploader_name}}/{{file[2]}}" target="_blank">{{file[2]}}</a></td>
        <td class="file-date text-muted">{{human_size(file[1])}}</td>
        <td class="file-date text-muted" title="{{time_ago(file[0])}}">{{recent_date(file[0])}}</td>
        <td class="file-actions"><a href="/upload/view?file={{uploader_name}}/{{file[2]}}" target="_blank"><i class="fa fa-info-circle" aria-hidden="true"></i></a> <a href="/functions/delete_file?file={{file[2]}}&uniqid={{user_session.sessionid}}&uploader=upload_anon" title="Delete File" class="text-muted deletebutton"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<div class="upload-pagination">
{{ pagination.links }}
</div>
</div>
{% endblock %}