{% extends "layout.html" %}
{% block body %}
{% if images %}
  {% for image in images %}
  <div class="text-center img-grid">
    <div class="panel-body">
      <div class="threadimg-gallery center-block">
        <a href="{{image}}" target="_blank">
          <img src="{{image}}" title="Post your Desktop" class="activity-threadimg-gallery">
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
  <br/><br/>
  <div class="thread-title">Displaying {{imagecount}}.</div>
{% else %}
<div class="alert alert-info" role="alert">
  No images were found in this thread.
</div>
{% endif %}
{% endblock %}
