{% extends "layout.html" %}
{% block body %}
{% for post in posts %}
<div class="reply-container panel panel-default" id="{{post.id}}">
  <div class="panel-body">
    <div class="media">
      <div class="thread-left">
        <a href="/user/{{post.user.username}}" class="profile-inline">
          <img src="{{get_avatar(post.user_id)}}" title="{{post.user.username}}" alt="Avatar" class="img-circle pull-left activity-avatar-size">
        </a>
      </div>
      <div class="media-body">
        <span class="text-muted" style="float:right; text-align: right;">
            <a href="/post/{{post.id}}"><i>#{{post.id}}</i></a>&nbsp;<br/>
            <i title="{{human_date(post.time)}}">{{time_ago(post.time)}}&nbsp;</i><br/>
        </span>
        <a href="/user/{{post.user.username}}" class="activity_poster" style="{{get_group_style_from_id(post.user_id)}}"><b>{{post.user.username}}</b></a>
        <br/>
        {{parse_bbcode(post.content)|safe}}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
