{% extends "layout.html" %}
{% block body %}
{% for post in posts %}
<div class="reply-container panel panel-default" id="{{post.id}}">
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <span class="text-muted" style="float:right; text-align: right;">
            <a href="#{{post.id}}"><i>#{{post.id}}</i></a>&nbsp;<br/>
            <i title="{{human_date(post.time)}}">{{time_ago(post.time)}}&nbsp;</i><br/>
        </span>
        <a href="/user/{{get_username_by_id(post.user_id)}}" class="activity_poster username {{get_group_style_by_id(post.user_id)}}"><b>{{get_username_by_id(post.user_id)}}</b></a>
        <br/>
        {{parse_bbcode(post.content)|safe}}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
