{% if not isInline %}
{% extends "layout.html" %}
{% endif %}
{% block body %}
{% if isInline %}
<a href="#{{post.id}}" onclick="bootbox.hideAll()"><i>Go to post #{{post.id}}</i></a><br/>
{% endif %}
<div class="reply-container panel panel-default" id="{{post.id}}">
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <span class="text-muted" style="float:right; text-align: right;">
            <a href="#{{post.id}}" onclick="bootbox.hideAll()"><i>#{{post.id}}</i></a>&nbsp;<br/>
            <i title="{{human_date(post.time)}}">{{time_ago(post.time)}}&nbsp;</i><br/>
        </span>
        {% if post.anonymous == 0 %}
        <a href="/user/{{get_username_by_id(post.user_id)}}" class="activity_poster username {{get_group_style_by_id(post.user_id)}}"><b>{{get_displayed_name_by_id(post.user_id)}}</b></a>
        {% else %}
        <a href="#" class="activity_poster" style="color: #585858; font-weight: bold;"><b>Anonymous</b></a>
        {% endif %}
        <br/>
        {{parse_bbcode(post.content)|safe}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
