@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans-Regular'), /* from https://fonts.gstatic.com/s/ptsans/v8/S1YQx4pVZa17uu0HWQd2fA.eot */
  url('../fonts/PT_Sans.eot?#iefix') format('embedded-opentype'), /* from https://fonts.gstatic.com/s/ptsans/v8/LKf8nhXsWg5ybwEGXk8UBQ.woff */
  url('../fonts/PT_Sans.woff') format('woff'), /* from https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2 */
  url('../fonts/PT_Sans.woff2') format('woff2'), /* from https://fonts.gstatic.com/l/font?kit=-W_xG__5QLePeHob2L7z1Q&skey=fd0b32f0f3e6a1fc&v=v8#PTSans */
  url('../fonts/PT_Sans.svg#PTSans') format('svg'), /* from https://fonts.gstatic.com/s/ptsans/v8/FUDHvzEKSJww3kCxuiAo2A.ttf */
  url('../fonts/PT_Sans.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), /* from https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4T9sG6gyxihQGrqfBiBoCNc.eot */
  url('../fonts/PT_Sans_Narrow.eot?#iefix') format('embedded-opentype'), /* from https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff */
  url('../fonts/PT_Sans_Narrow.woff') format('woff'), /* from https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UU-p1xzoRgkupcXIqgYFBc.woff2 */
  url('../fonts/PT_Sans_Narrow.woff2') format('woff2'), /* from https://fonts.gstatic.com/l/font?kit=UyYrYy3ltEffJV9QueSi4Y9qashOVerhvngxLEi9cx0&skey=4fa1436033972818&v=v7#PTSansNarrow */
  url('../fonts/PT_Sans_Narrow.svg#PTSansNarrow') format('svg'), /* from https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UpeNX8RPf6i6WQfJWyCWEs.ttf */
  url('../fonts/PT_Sans_Narrow.ttf') format('truetype');
}

.dl-horizontal {
  margin-left: 20px;
}

@media (min-width: 766px) {
  .dl-horizontal dt {
    width: auto;
  }
  .dl-horizontal dd {
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .top-avatar, .extra-info-right, .footer-notice{
    display: none;
  }
  .navbar-container {
    position: absolute;
    border-top: 0px none #fff !important;
    border-left: 0px none #fff !important;
    display: block;
    top: 0px !important;
    width: 100% !important;
  }
  li:hover, li:active, li:focus{
    background: #d9d9d9;
  }
}

@media (max-width: 991px) {
  div.container-fluid div div.row div.col-md-6{
    float: left !important;
    width: 100% !important;
  }
}

.blink {
  text-decoration: blink;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.dl-horizontal.statistics{
  font-size: 12px;
}

.dl-horizontal.statistics dt{
  color: #555;
  font-weight: normal;
}

.dl-horizontal.statistics dd{
  text-align: right;
  padding-right: 20px;
}

.navbar-nav > li > a{
  padding: 10px 10px;
}

.navbar-default .navbar-nav > li > a{
  color: #555;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #111;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    text-shadow: 0 1px 0 #fff;
 }

.image-editor {
  width: 250px;
}

.avatarModal div.modal-dialog.modal-sm{
  width: 528px;
}

.avatarModal div.modal-dialog.modal-sm img{
  max-width: 496px;
}

.cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 7px;
  width: 250px;
  height: 250px;
}

.cropit-preview-image-container {
  cursor: move;
}

.cropit-preview-image{
  image-rendering: auto;
}

.image-size-label {
  margin-top: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  margin-bottom: 91px;
}

p a, p a:visited {
  color: #575757;
}

p a:hover, p a:active, p a:focus {
  color: #222222;
  text-decoration: none;
  border-bottom: 1px dashed #575757;
}

a.forum-title, a:hover.forum-title, a:focus.forum-title {
  color: #222222;
  font-size: 15pt;
  margin-top: 10px;
  display: block;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

.nsfw-icon {
  color: #FF8400;
}
.forum-title.fa-stack{
  margin-top: -7px;
  margin-right: -4px;
  font-size: 18pt;
}
.fa-plus18, .fa-plus16 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
}

.fa-plus18:before {
    content: "18+";
}
.fa-plus16:before {
    content: "16+";
}

a.forum_poster, a:hover.forum_poster, a:focus.forum_poster {
  color: #222222;
  font-size: 11pt;
}

a.forum_poster {
  font-size: 11pt;
}

a.activity_poster, a:hover.activity_poster, a:focus.activity_poster {
  color: #222222;
  font-size: 15pt;
}

a.activity_poster.reply {
  font-size: 12pt;
}

a, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover, p a:active, p a:focus {
  color: #444444;
  text-decoration: none;
}

.activity-avatar-size {
  width: 48px;
  height: 48px;
  float: left;
}

.status-update-field{
  margin-bottom: 8px;
  font-size: 13px;
  height: 28px !important;
}

.status-avatar-size {
  width: 32px;
  height: 32px;
  float: left;
}

.forum-image {
  width: 48px;
  height: 48px;
  float: left;
  background-size: cover;
  background-position: center center;
}

.link-dotted {
  border-bottom: 1px dotted #000;
}

.link-postname:hover {
  border-bottom: 1px dotted #000;
}

.threadimg {
  width: 48px;
  height: 48px;
  margin-left: 10px;
  float: left;
}

.threadimg-none {
  width: 48px;
  height: 48px;
  margin-left: 10px;
  float: left;
  display: none;
}

.activity-threadimg-grid {
  width: 150px;
  height: 150px;
  border: 1px dotted #ababab;
}

.threadimg-grid {
  width: 150px;
  height: 150px;
}

.activity-threadimg-gallery {
  max-width: 150px;
  max-height: 150px;
  border: 1px dotted #ababab;
}

.threadimg-gallery {
  width: 150px;
  max-height: 150px;
}

.emoticon-list {
  max-width: 150px;
  max-height: 150px;
  padding: 8px;
}

.emoticon-list:hover {
  background-color: #efefef;
}

.thread-grid {
  width: 200px;
  display: inline-block;
}

.img-grid {
  width: 160px;
  display: inline-block;
}

.uploadimg {
  max-width: 100px;
  max-height: 100px;
}

.avatar_date {
  font-size: 12px;
}

.thread-left {
  width: 160px;;
  min-width: 160px;;
  max-width: 160px;;
  display: table-cell;
  vertical-align: top;
  padding: 8px 10px;
  background: #ffffff url("../images/postbg.png");
  border-right: 1px solid #cfcfcf;
}

.thread-left-images {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  display: table-cell;
  vertical-align: top;
}

.nsfw-forum {
  background: #efefef;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: -14px;
  float: right;
  width: 35px;
  margin-top: -18px;
  border: 1px dashed #d5d5d5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.thread-avatar-size {
  width: 138px;
  height: 138px;
}

.activity-avatar-size.reply {
  width: 32px;
  height: 32px;
}

.bbcode-image {
  max-height: 600px;
  cursor: zoom-in;
  margin-top: 5px;
}

.dropdown-menu li:hover {
  background-color: #ededed;
}

.media-body a.text-muted i.fa {
  display: none;
}

.media-body:hover a.text-muted i.fa {
  display: inline-block;
}

.media.reply {
  background-color: #efefef;
  padding: 8px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  margin-bottom: 8px;
}

.profile-username {
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.4;
}

.fa {
  padding-right: 3px;
}

.forum-list {
  /* border-bottom: 1px dashed #e7e7e7; */
  background: #e7e7e7;
  margin-top: 4px;
}

.forum-list a{
  font-weight: bold !important;
  font-size: 9pt !important;
  font-family: "PT Sans" !important;
}

.channel-list{
  min-width: 190px;
}

.user-options{
  min-width: 250px;
  text-align: center;
}


/* rating disallowed */
.RatingDisallowed > .RatingUp, .RatingDisallowed > .RatingDown {
    display:none;
}

/* show hover and click animations */
.RatingUp:hover, .RatingDown:hover {
  font-weight:bold;
  cursor:pointer;
}

.RatingUp:active, .RatingDown:active {
  font-weight:lighter;
  cursor:pointer;
}

/* ui elements */
.RatingUp, .RatingDown {
  font-size:1.5em;
}

.Rating {
    font-size: 10pt;
}

.RatingLarge{
  font-weight:bold;
  font-size: 20pt;
  line-height: 1.8em;
}


/* rating containers */
.RatingContainer {
    display: inline-block;
    line-height: 1em;
    text-align: center;
    width: 1.5em;
    vertical-align: top;
    float: right;
}

.PostInfoContainer{
  display: inline-block;
  width: 120px;
  line-height: 1em;
  vertical-align: top;
  margin-right: 15px;
}

.QuoteContainer{
  display: block;
  margin-right: 32px;
}

.actions {
  margin-top: -20px;
}

.actions-main.replybutton a{
  color: #000;
}

.actions-main.replybutton{
  border: 1px solid #ccc;
  background: #efefef;
  padding: 4px 10px;
  font-size: 13px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 0.7;
}

.actions-main.replybutton i{
  margin-right: 4px;
  margin-left: -2px;
}

.actions-main.replybutton:hover{
  opacity: 1;
}

.event-list a {
  font-weight: bold;
}

.event-list .event-icon {
  width: 1%;
  text-align: center;
}

.home-forum{
  padding: 5px !important;
  line-height: 1.2 !important;
}

.home-forum a:link{
  font-size: 13px;
}

.home-forum .small a{
  opacity: 0.9;
}

.table-header{
  background: #ffffff url("../images/catbg.png") repeat-x;
}

.table-header thead{
  height: 29px;
  font-weight: bold;
  text-shadow: transparent 0px 0px 0px, rgba(0,0,0,1) 0px 0px 0px !important;
}

.table-header>tbody>tr{
  background: #fff;
}

.table-header>thead>tr>th{
  padding: 4px;
  padding-left: 6px;
}

.inner-header{
  background: #ffffff url("../images/catbg.png") repeat-x;
  height: 29px;
  width: 100%;
  font-weight: bold;
  padding: 4px;
  padding-left: 6px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-shadow: transparent 0px 0px 0px, rgba(0,0,0,1) 0px 0px 0px !important;
}

.home-forum-list{
  margin-top: -1px;
}

.home-forum-list .home-forum-icon {
  width: 1%;
  vertical-align: middle;
  text-align: center;
}

.home-forum-icon img{
  margin-left: 6px;
}

.file-list>tbody>tr>td {
  vertical-align: middle;
}

.file-list .file-name a {
  font-weight: bold;
  color: #444 !important;
}

.file-list .file-date {
  text-align: right;
}

.file-list .file-actions {
  text-align: right;
}

.file-list .file-thumbnail {
  width: 1%;
  text-align: center;
}

.navbar-title {
  color: #000 !important;
  text-decoration: none !important;
  font-size: 18pt;
  font-weight: bold;
  left: 190px;
  position: absolute;
  top: 23px;
}

.group-span-filestyle .buttonText {
  margin-left: 6px;
}

.navbar-title-sub {
  color: #000 !important;
  text-decoration: none !important;
  font-size: 9pt;
  font-weight: bold;
  position: absolute;
  top: 9px;
  left: 175px;
}

.navbar-title-small{
  font-size: 13pt !important;
}

.upload-title {
  font-size: 18pt;
  display: inline-block;
  float: right;
  padding: 10px;
  margin-top: 8px;
  margin-left: 8px;
}

.thread-title {
  font-size: 24pt;
  padding: 8px;
}

.forum-description{
  margin-top: -15px;
  margin-bottom: 10px;
  padding: 12px;
}

.category-selector {
  width: 200px;
  display: inline;
  margin-bottom: 8px;
}

.thread-title-form {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(100% - 105px);
}

.authbutton{
  padding: 6px;
  font-weight: bold;
  background: #B6544B;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 180px;
  height: 34px;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 #555;
  -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
}

.authbutton:hover{
  background: #9d4740;
}

.authbutton:active{
  background: #B6544B;
  -webkit-box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.75);
}

.paste-title-form {
  display: inline-block;
  margin-bottom: 8px;
}

.file-listing {
  margin-bottom: 4px;
  border-bottom: 1px dashed #e7e7e7;
}

.sub1 {
  font-size: 16pt;
}

.sub2 {
  font-size: 14pt;
}

.sub3 {
  font-size: 12pt;
}

.sub4 {
  font-size: 10pt;
}

.mask {
  mask: url("../images/d2k5_logo.svg");
  -webkit-mask: url("../images/d2k5_logo.svg");
  mask-size: 140px 70px;
  -webkit-mask-size: 140px 70px;
}

.sitelogo {
  width: 140px;
  height: 70px;
  margin-top: 10px;
}

.top-avatar {
  position: absolute;
  right: 10px;
  top: 5px;
}

.top-avatar-size {
  width: 60px;
  height: 60px;
}

.profile-avatar {
  float: left;
}

.profile-avatar-inline {
  width: 200px;
  height: 200px;
  margin-right: 8px;
}
.profile-avatar-size {
  width: 250px;
  height: 250px;
  margin-right: 8px;
}

.profile-avatar-size-large {
    max-width: 250px;
    max-height: 530px;
    margin-right: 8px;
}

.home-avatar-size {
  width: 200px;
  height: 200px;
}

.home-avatar-size-large {
    max-width: 200px;
    max-height: 480px;
}

.thread-container {
  margin-bottom: 6px;
  padding: 4px;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.reply-container {
  border-bottom: 1px solid #cfcfcf !important;
}

.reply-container .media-body{
  padding: 12px;
}

.reply-container .post-container{
  min-height: 90px;
}

.post-extrainfo{
  padding: 12px;
  margin-top: -73px;
  width: calc(100% - 160px) !important;
  float: right;
}

.navbar-container {
  background: #fff;
  background-image: url("../images/linkbar.png");
  display: inline-block;
  position: relative;
  top: 69px;
  width: calc(100% - 155px);
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

.user-regdate{
  text-align: center;
  padding: 4px;
  font-size: 12px;
}

.post-usertitle{
  font-size: 12px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#navbar, .navbar-header {
  min-height: 100px;
}

.navbar-default {
  background: #ffffff url("../images/navbg.png") repeat-x;
}

.navbar-right {
  background: inherit;
}

.navbar-nav>li>a, .navbar-brand {
  padding-top: 5px !important;
  padding-bottom: 0 !important;
  height: 30px;
  font-size: 11px;
}

.dropdown-menu>li>a {
  font-size: 12px;
}

ul.nav.navbar-nav a {
  background-color: transparent !important;
}


.nopadding{
  padding: 0px !important;
}

.imageupload .file-tab button, .imageupload .url-tab {
  display: inline;
}

.footer {
  border-top: 1px solid #e7e7e7;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 91px;
  background-color: #f5f5f5;
  text-shadow: 0 1px 0 #fff;
}

.footer .container-fluid .text-muted {
  margin: 15px 0;
}

nav.navbar div.container-fluid{
  padding-right: 15px;
  padding-left: 15px;
}

.footer>.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

.Button, .btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.Button, .NavButton, .SocialIcon, .btn {
  font-size: 14px;
  line-height: 1.42857;
  padding: 7px 12px;
}

.btn-info {
  background-color: #636363;
  border-color: #525252;
  color: #ffffff;
}

.Button.Primary, .btn-primary {
  background-color: #636363;
  border-color: #525252;
  color: #ffffff;
}

.btn {
  border-width: 0 1px 4px;
  font-size: 12px;
  font-weight: 700;
  padding: 9px 12px 7px;
  text-transform: uppercase;
}

.btn:hover {
  border-bottom-width: 3px;
  margin-top: 1px;
  background-color: #636363 !important;
  border-color: #525252 !important;
  color: #fff !important;
}

.btn:active {
  border-bottom-width: 2px;
  box-shadow: none;
  margin-top: 2px;
  background-color: #636363 !important;
  border-color: #525252 !important;
  color: #fff !important;
}

.btn:focus {
  background-color: #636363 !important;
  border-color: #525252 !important;
  color: #fff !important;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  background-color: #636363 !important;
  border-color: #525252 !important;
  color: #fff !important;
}

.md-editor.active {
  border-color: #636363;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(172, 172, 172, 0.6);
}

.invitegen {
  margin-top: 24px;
  margin-bottom: 24px;
}

.btn-default {
  color: #555;
  background-color: #eee;
  border-color: #e2e2e2;
}

.InputBox, .form-control {
  height: 38px;
}

.social {
  float: right;
  margin-right: 32px;
  margin-top: -8px;
}

.social a {
  font-size: 30pt;
  opacity: 0.7;
}

.social a:hover {
  opacity: 1;
}

blockquote {
  padding: 8px;
  margin: 0px;
  font-size: 14px;
  border-left: 5px solid #d5d5bb;
  background: #fbfeed;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert{
  border: 0px none transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.inline-block {
  display: inline-block;
}

.embedcodes {
  padding: 4px;
}

.embedcodes input {
  width: 100%;
  margin-bottom: 4px;
}

.cropit-preview, .cropit-preview-image-container {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

div.panel.panel-default.category-list {
  margin-bottom: 5px !important;
}

/* new layout crap*/
.inner-container{
    padding: 15px;
}
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}
table, .navbar-static-top{
  margin-bottom: 0px !important;
}
.panel {
    margin-bottom: 0px;
    border: 0px none transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.regnotice{
  color: red;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 32pt;
  padding: 18px;
  background: yellow;
  border-top: 4px dashed red;
  border-bottom: 4px dashed red;
}

.topbuttons{
  display: inline-block;
  margin-top: -6px;
  margin-bottom: -6px;
  margin-left: 10px;
}

.topbuttons a{
  margin-right: 7px;
}

.timedisplay{
  opacity: 0.7;
}
.posthead {
    background: repeat-x #dfdfdf;
    border: 1px solid #d0d0d0;
    border-left-width: 0;
    border-right-width: 0;
    height: 24px;
    font-size: 12px!important;
    line-height: 15px;
    padding: 3px 8px;
    width: 100%;
  }
.posthead-button{
  margin-left: 10px;
}
