@font-face {
  font-family: 'Comic Neue';
  src: url('../fonts/ComicNeue-Regular.eot');
  src: url('../fonts/ComicNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ComicNeue-Regular.woff2') format('woff2'),
       url('../fonts/ComicNeue-Regular.woff') format('woff'),
       url('../fonts/ComicNeue-Regular.ttf')  format('truetype');
  font-weight: 400;
}

.navbar-default, footer, .panel, .alert {
    background: green !important;
}

.alert{
  display: none !important;
}

body{
  background: darkgreen !important;
  font-family: "Comic Neue" !important;
}

.navbar-title a{
  color: rgb(227, 0, 255) !important;
}

.panel, .alert {
  border: 3px dashed lime !important;
  color: rgb(227, 0, 255) !important;
  font-size: 18pt;
}

.footer a{
  color: rgb(227, 0, 255) !important;
}

.thread-title, .description, .panel a{
  color: rgb(227, 0, 255) !important;
  font-size: 18pt;
}

.text-muted{
  color: lime !important;
}

.navbar-default{
  background-image: url("../images/oify/gr-bk.gif") !important;
}

footer{
  background-image: url("../images/oify/gr-bk.gif") !important;
  border-top: 3px solid green !important;
}

.navbar{
  border-bottom: 3px solid green !important;
}
.navbar-container, .modal-content, .modal-body{
    background: green !important;
    border-top: 3px solid green !important;
    border-left: 3px solid green !important;
    color: black !important;
}
.navbar-right{
  background: green !important;
}
.navbar-container a{
  color: black !important;
}
audio {
  display: none;
}
blink {
  text-decoration: blink;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
